body{
    background-color: gray;
    margin: auto;
    height: 800px;
    width: 800px;
    margin-top: 10px;

}

h1,div,ul{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
.header{
    background-color: rgb(144, 71, 146);
    height: 50px;
    padding: 20px 50px;
    color: rgb(226, 219, 225);
    
}

#theme{
    float: right;
    
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
 

}

li{
    float: left;
    border: 1px solid rgb(116, 61, 104) ;
}

li a{
    padding: 10px 50px;
    display: block;
    color: black;
}

.nav{
    margin: 1px 0px;
    background-color: aliceblue;
}
li a:hover{
    background-color: rgb(170, 95, 151);
    font-weight: bold;
    color: aliceblue;
}

.selected{
    font-weight: bold;
    background-color: rgb(161, 81, 157);
    
}

.selected a{
    color: aliceblue;
}

.content{
    background-color: white;
    padding: 10px;
    height: 500px;
    margin: 0px;
}


.footer{
    background-color: rgb(144, 71, 146);
    color: aliceblue;
    height: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px;

}
.footer p{
    margin: 0px;
    padding: 5px;
}